.cart-menu-container {
  min-width: 400px;
  height: 100%;
  background: #ffffff;
  padding: 20px 10px 10px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0 12px 12px 0;
}
.cart-menu-container h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}
.cart-menu-container h3 span {
  color: rgba(0, 0, 0, 0.45);
}

.orders-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* overflow-y: scroll; */
}

.clear-cart-btn {
  cursor: pointer;
  justify-self: "flex-end";
  font-size: 12px;
  font-weight: 500;
  width: 80px;
  background: none;
  outline: none;
  border: none;
  color: rgb(125, 124, 124);
  margin-bottom: 10px;
}
.clear-cart-btn:hover {
  color: black;
}
/* .defualt-btn:hover {
  background-image: linear-gradient(to right, #00b3a4, #2be1bd);
  transform: scale(1.05);
} */
.confirm-btn {
  padding: 12px;
  background: #5fd5e5;
  border-radius: 14px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 2px solid rgb(224, 219, 219);
}
.confirm-btn:hover {
  background-image: linear-gradient(to right, #00b3a4, #2be1bd);
  transform: scale(1.05);
}
