.scan-card-container {
  position: absolute;
  width: 334px;
  height: 253px;
  box-shadow: 7px 7px 40px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 45%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.scan-card-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  gap: 7px;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.4);
}
.scan-card-container img {
  width: 60px;
  height: 30px;
  z-index: 99999;
}
.scan-card-container input {
  width: 281px;
  height: 36px;
  padding: 10px;
  background: #ffffff;
  box-shadow: 7px 7px 40px rgba(0, 0, 0, 0.27);
  border-radius: 3px;
  outline: none;
  border: none;
}
