.category-container {
  width: 61px;
  height: 101px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  background: #ffffff;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.category-img-wrapper img {
  width: 30px;
}
.category-img-wrapper {
  border: 0.5px solid rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  width: 47px;
  height: 48px;
  padding: 7px;
  background: white;
}

.active-category {
  background: #eefbf3;
}
