.product-bar-container {
  width: 100%;
  padding: 12px;
  background: #ffffff;
  box-shadow: 8px 8px 20px rgba(115, 113, 113, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-category {
  min-width: 120px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.add-product-btn {
  padding: 12px;
  background: #8fa497;
  border-radius: 3px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}