.navbar-container {
  width: 81px;

  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  left: 15px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px 0px 0px 20px;
  position: relative;
  align-items: center;
}
.navbar-container .userLogo {
  width: 51px;
  height: 51px;
  border: 1px solid #f9f6f0;
  border-radius: 55px;
  margin: 34px 10px 0 0;
}
.nav-links {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  /* justify-content: flex-start;
   */
  align-items: center;
  padding: 9px 10px 0 0;
  gap: 2em;
  margin: 0;
}
.nav-link img {
  width: 29px;
  height: 29px;
  align-items: center;
  margin-top: 2px;
}

.logout-wrapper {
  position: absolute;
  bottom: 37px;
  padding-right: 10px;
}
.nav-links li {
  width: 49px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.nav-links .active {
  background: #dcf6e6;
}

.navbar-container img {
  /* position: absolute;
  top: 10px;
  left: 10px; */
  width: 43px;
  margin-top: 40px;
  margin-right: 10px;
}
