.outter{
  width: 100%;
  background: #ffffff;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.07), 9px 9px 30px rgba(0, 0, 0, 0.04);
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.orderItem-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderItem-card-container img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.orderItem-card-container .text-order {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.orderItem-card-container .total-order,
.amount-order {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.44);
}

.orderItem-allergic:before {
  content: "";
  background: black;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  inset: 0;
  border-radius: 6px;
  z-index: 2;
}

.order-alert-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 0;
}
