.products-table-container {
  width: 100%;
  flex: 1;
  background: #ffffff;
  box-shadow: 8px 8px 20px rgba(115, 113, 113, 0.1);
  border-radius: 4px;
}

.products-table-container img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.action-btn {
  cursor: pointer;
}

.pageination-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}