.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 2px solid red; */
}

.container > button {
  cursor: pointer;
}

.container > p {
  font-size: 13px;
  padding: 0 12px;
  margin: 0;
}

.container > .button {
  cursor: pointer;
}
