.dashboardcard-container {
    flex: 1;
    padding: 20px 60px;
    background: white;
    border-radius: 6px;
    box-shadow: 20px 6px 30px rgba(0, 0, 0, 0.17);
    display: flex;
    flex-direction: column;
}



.dashboardcard-container>h4 {
    margin: 0;
}


.dashboardcard-container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboardcard-container>div>p {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.dashboardcard-container>div>img {
    width: 36px;
    height: 36px;
}