.loading-screen-wrapper {
  background-image: url("../../../assets/imgs/loader2.gif");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  /* width: 1217px; */
  /* margin-left: 17px; */
  /* height: 700px; */
  height: 100%;
  /* border-radius: 8px; */
  z-index: 999999;
  opacity: 0.2;
}
