.entry-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

.entry-img-background {
  width: 55%;
  height: 100%;
  border-radius: 0 12px 12px 0;
  background-image: url("../../../assets/imgs/family3.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
